<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="predictions.service.js"></script>
    <script src="main.controller.js"></script>
<head>
<body ng-app="app" ng-controller="MainController as vm">
    <div style="display: inline-table">
        <h3>Input: </h3>
        <textarea cols="100" rows="20" ng-model="vm.predictions" style="display: inline-block"></textarea>
        <button ng-click="vm.postPredictions()" style="display: block">POST</button>
    </div>
    <div style="display: inline-table; margin-left: 40px">
        <h3>Response: </h3>

        <h4>RMS: {{vm.response.rms}}</h4>

        <table>
            <thead>
                <th>Review id.</th>
                <th>Grade</th>
                <th>Predicted grade</th>
            </thead>
            <tbody>
                <tr ng-repeat="diff in vm.response.predictionExampleDiffs" ng-style="{'background-color': vm.calcColor(diff)}">
                    <td>{{ diff.reviewId }}</td>
                    <td>{{ diff.grade }}</td>
                    <td>{{ diff.predictedGrade }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
